<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Report</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/js/setup.js"></script>
</head>
<style>
  .numb:hover{
    cursor: pointer;
  }
  .carousel-control-next-iconn:after
{
  content: '>';
  font-size: 30px;
  color: #4e73df;
}

.carousel-control-prev-iconn:after {
  content: '<';
  font-size: 30px;
  color: #4e73df;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #fff;
}
.bg-warm-flame {
    background-image: linear-gradient(45deg,  #ff9a9e 0%,  #fad0c4 99%,  #fad0c4 100%) !important;
}
.bg-night-fade {
    background-image: linear-gradient(to top,  #a18cd1 0%,  #fbc2eb 100%) !important;
}
.bg-sunny-morning {
    background-image: linear-gradient(120deg,  #f6d365 0%,  #fda085 100%) !important;
}
.bg-tempting-azure {
    background-image: linear-gradient(120deg,  #84fab0 0%,  #8fd3f4 100%) !important;
}
.bg-amy-crisp {
    background-image: linear-gradient(120deg,  #a6c0fe 0%,  #f68084 100%) !important;
}
.bg-heavy-rain {
    background-image: linear-gradient(to top,  #cfd9df 0%,  #e2ebf0 100%) !important;
}
.bg-mean-fruit {
    background-image: linear-gradient(120deg,  #fccb90 0%,  #d57eeb 100%) !important;
}
.bg-malibu-beach {
    background-image: linear-gradient(to right,  #4e73df 0%,  #00f2fe 180%) !important;
}
.bg-deep-blue {
    background-image: linear-gradient(120deg,  #e0c3fc 0%,  #8ec5fc 100%) !important;
}
.bg-ripe-malin {
    background-image: linear-gradient(120deg,  #f093fb 0%,  #f5576c 100%) !important;
}
.bg-arielle-smile {
    background-image: radial-gradient(circle 248px at center,  #16d9e3 0%,  #30c7ec 47%,  #46aef7 100%) !important;
}
.bg-plum-plate {
    background-image: linear-gradient(135deg,  #667eea 0%,  #764ba2 100%) !important;
}
.bg-happy-fisher {
    background-image: linear-gradient(120deg,  #89f7fe 0%,  #66a6ff 100%) !important;
}
.bg-happy-itmeo {
    background-image: linear-gradient(180deg,  #2af598 0%,  #009efd 100%) !important;
}
.bg-mixed-hopes {
    background-image: linear-gradient(to top,  #c471f5 0%,  #fa71cd 100%) !important;
}
.bg-strong-bliss {
    background-image: linear-gradient(to right,  #f78ca0 0%,  #f9748f 19%,  #fd868c 60%,  #fe9a8b 100%) !important;
}
.bg-grow-early {
    background-image: linear-gradient(to top,  #0ba360 0%,  #3cba92 100%) !important;
}
.bg-love-kiss {
    background-image: linear-gradient(to top,  #ff0844 0%,  #ffb199 100%) !important;
}
.bg-premium-dark {
    background-image: linear-gradient(to right,  #434343 0%,  black 100%) !important;
}
.bg-happy-green {
    background-image: linear-gradient(to bottom,  #00b09b,  #96c93d) !important;
}
.bg-vicious-stance {
    background-image: linear-gradient(60deg,  #29323c 0%,  #485563 100%) !important;
}
.bg-midnight-bloom {
    background-image: linear-gradient(to bottom, #4e73df 90%, rgb(241, 101, 115) ) !important;
}
.bg-night-sky {
    background-image: linear-gradient(to top,  #1e3c72 0%,  #1e3c72 1%,  #2a5298 100%) !important;
}
.bg-slick-carbon {
    background-image: linear-gradient(to bottom,  #323232 0%,  #3F3F3F 40%,  #1C1C1C 150%), linear-gradient(to top,  rgba(255, 255, 255, 0.4) 0%,  rgba(0, 0, 0, 0.25) 200%) !important;
    background-blend-mode: multiply;
}
.bg-royal {
    background-image: linear-gradient(to right,  #141e30,  #243b55) !important;
}

.animated.infinite {
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: calc( 1s * 2);
    animation-duration: calc( 1s * 2);
}
.animated.bounceIn, .animated.bounceOut {
    -webkit-animation-duration: calc( 1s * 0.75);
    animation-duration: calc( 1s * 0.75);
}
.animated.flipOutX, .animated.flipOutY {
    -webkit-animation-duration: calc( 1s * 0.75);
    animation-duration: calc( 1s * 0.75);
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
}
}.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold;
}
.widget-content .widget-content-left .widget-subheading {
    opacity: .5;
}
.widget-content .widget-content-right {
    margin-left: auto;
}
.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
.widget-content .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.widget-content .widget-progress-wrapper {
    margin-top: 1rem;
}
.widget-content .widget-progress-wrapper .progress-sub-label {
    margin-top: .33333rem;
    opacity: .5;
    display: flex;
    align-content: center;
    align-items: center;
}
.widget-content .widget-progress-wrapper .progress-sub-label .sub-label-right {
    margin-left: auto;
}
.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
}
.widget-content:hover .widget-content-right.widget-content-actions {
    visibility: visible;
    opacity: 1;
}
.ui-widget .fc-disabled-day {
    background-image: none;
}
.ui-widget .fc-event {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
.widget-content .widget-numbers {
    font-size: 1.6rem;
    line-height: 1;
}
</style>
<body id="page-top">
    
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
          <img data-altlogo="https://www.n3xtsports.com/wp-content/uploads/2018/05/logo-colored-2.png" src="https://www.n3xtsports.com/wp-content/uploads/2018/05/logo-white-2.png" class="img-fluid w-75" alt="N3XT SPORTS">
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="fa fa-home"></i>
          <span>Home</span></a>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa fa-list-ol"></i>
          <span>Questionnaire</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Categories:</h6>
            <a class="collapse-item" href="buttons.html">Business Strategy</a>
            <a class="collapse-item" href="cards.html">Internal Digitalization</a>
            <a class="collapse-item" href="cards.html">Digital Products</a>
            <a class="collapse-item" href="cards.html">Data Management</a>
            <a class="collapse-item" href="cards.html">Content Production</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fa fa-trophy"></i>
          <span>Leaderboards</span>
        </a>
      </li>
      
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="/table">
          <i class="fa fa-users"></i>
          <span>Clients</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <h1 class="display-4 text-center">
            Client Report
        </h1>
      <!-- Main Content -->
      <div id="content">

        
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row mt-4">
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card mb-3 widget-content bg-malibu-beach">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Name</div>
                            <div style="font-family: Nunito;" id="ClientName"></div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span><i class="fas fa-user text-gray-300"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card mb-3 widget-content bg-malibu-beach">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Company</div>
                            <div style="font-family: Nunito;" id="ClientCompany"></div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span><i class="fas fa-building text-gray-300"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card mb-3 widget-content bg-malibu-beach">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Title</div>
                            <div style="font-family: Nunito;" id="ClientTitle"></div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span><i class="fas fa-briefcase text-gray-300"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card mb-3 widget-content bg-malibu-beach">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Submission Date</div>
                            <div style="font-family: Nunito;" id="ClientDate"></div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span><i class="fas fa-calendar text-gray-300"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div> 
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Score</h6>
                  <span class="float-right numb" style="font-size: 25px" data-toggle="tooltip" data-placement="top" title="PDF downloads" id="numb">&#9312</span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area text-center">
                    <canvas id="myGauge" class="w-75"></canvas><br><br>
                    <span style="font-size:25px;" class=" px-2 py-2">
                      <span id="ClientTotal">Develop: 45 </span><span style="font-weight: ; color: grey"> / 100</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-6 col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Result Details</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2" style="margin-bottom: 40px;">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow mb-4">
            <div class="card-body">
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      <a href="#collapse2" class="col1" name="icon1" data-parent="#accordion" data-toggle="collapse">
                        Business Strategy <span id="icon1" value="1"><i class="fas fa-caret-down"></i></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse2" class="collapse show">
                    <div class="card-body">
                      <div id="slider2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            Does your organisation have a written business plan/strategy? <span id="1"></span>
                          </div>
                          <div class="carousel-item">
                            How big (i.e.: in FTEs) is the business/corporate structure at the Organisation (Marketing, Sponsorship, Digital, Communications...)? <span id="2"></span>
                          </div>
                          <div class="carousel-item">
                            There are a few (+3) people working on digital operations (Social Media, Web, Analytics, CRM etc...)? <span id="3"></span>
                          </div>
                        </div>
                        <a href="#slider2" style="text-decoration: none;" data-slide="prev">
                          <span class="carousel-control-prev-iconn"></span>
                        </a>
                        <a href="#slider2" style="text-decoration: none; float: right" data-slide="next">
                          <span class="carousel-control-next-iconn"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      <a href="#collapse3" class="col1" name="icon2" data-parent="#accordion" data-toggle="collapse">
                        Internal Digitalization <span id="icon2" value="0"><i class="fas fa-caret-right"></i></span>
                      </a>
                    </h5>
                  </div>

                  <div id="collapse3" class="collapse">
                    <div class="card-body">
                      <div id="slider3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                             Is there a 3-5 year IT strategy documented? <span id="4"></span>
                          </div>
                          <div class="carousel-item">
                             Do employees regularly use Project Management software (e.g.: Asana, Trello, Atlassian, Wetrack etc.) to manage their workloads? <span id="5"></span>
                          </div>
                          <div class="carousel-item">
                             Do employees use corporate chat (e.g.: Slack, Microsoft Teams, etc.) as a standard communication platform? <span id="6"></span>
                          </div>
                          <div class="carousel-item">
                             Does the organisation have access at anytime, anywhere to documentation without any connectivity issue? <span id="7"></span>
                          </div>
                        </div>
                        <a href="#slider3" style="text-decoration: none;" data-slide="prev">
                          <span class="carousel-control-prev-iconn"></span>
                        </a>
                        <a href="#slider3" style="text-decoration: none; float: right" data-slide="next">
                          <span class="carousel-control-next-iconn"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      <a href="#collapse4" class="col1" name="icon3" data-parent="#accordion" data-toggle="collapse">
                        Digital Products <span id="icon3" value="0"><i class="fas fa-caret-right"></i></span>
                      </a>
                    </h5>
                  </div>

                  <div id="collapse4" class="collapse">
                    <div class="card-body">
                      <div id="slider4" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                             Do you have a 100% mobile responsive website?<span id="8"></span>
                          </div>
                          <div class="carousel-item">
                             Do you use analytics on your website? Such as Google Analytics. <span id="9"></span>
                          </div>
                          <div class="carousel-item">
                             Is your website development managed by an external agency? <span id="10"></span>
                          </div>
                          <div class="carousel-item">
                             Do you have an app? <span id="11"></span>
                          </div>
                          <div class="carousel-item">
                             Do you collect analytics from app downloads & usage? <span id="12"></span>
                          </div>
                          <div class="carousel-item">
                              Do you feel that you are able to easily launch Web & Mobile projects easily?<span id="13"></span>
                          </div>
                          <div class="carousel-item">
                             Do you have a merchandising eCommerce? <span id="14"></span>
                          </div>
                        </div>
                        <a href="#slider4" style="text-decoration: none;" data-slide="prev">
                          <span class="carousel-control-prev-iconn"></span>
                        </a>
                        <a href="#slider4" style="text-decoration: none; float: right" data-slide="next">
                          <span class="carousel-control-next-iconn"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      <a href="#collapse5" class="col1" name="icon4" data-parent="#accordion" data-toggle="collapse">
                        Data Management <span id="icon4" value="0"><i class="fas fa-caret-right"></i></span>
                      </a>
                    </h5>
                  </div>

                  <div id="collapse5" class="collapse">
                    <div class="card-body">
                      <div id="slider5" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                           Do you collect personal data from your digital touch points? (Emails from Website, profiles from Facebook, Single Sign-On...) <span id="15"></span>
                          </div>
                          <div class="carousel-item">
                             Do you collect demographic (age, gender, income, etc.) and/or psychographic (personal values, attitudes, interests, personality traits, etc.) data on consumers? <span id="16"></span>
                          </div>
                          <div class="carousel-item">
                             Do you have more than one consumer database that could contain the same information (i.e.: siloed data)? <span id="17"></span>
                          </div>
                          <div class="carousel-item">
                              Do you have a centralized CRM system that is used by the entire organization? CRM cross-checks information with all sources (e.g.: web, ticketing, loyalty programs, newsletters subscriptions etc..? <span id="18"></span>
                          </div>
                          <div class="carousel-item">
                              What CRM system do you use? CRM cross-checks information with all sources (e.g.: web, ticketing, loyalty programs, newsletters subscriptions etc.. <span id="19"></span>
                          </div>
                          <div class="carousel-item">
                               Do you input your data manually or automatically into your CRM? <span id="20"></span>
                          </div>
                          <div class="carousel-item">
                                Do you exploit (ticket/web/mobile app/email) consumer data to consumer fans? (i.e: Segmenting Newsletter based on demographics or behavior) <span id="21"></span>
                          </div>
                          <div class="carousel-item">
                                Do you analyse the Consumer Data collected manually? Do you have a dashboard or do you excel to analyse? <span id="22"></span>
                          </div>
                        </div>
                        <a href="#slider5" style="text-decoration: none;" data-slide="prev">
                          <span class="carousel-control-prev-iconn"></span>
                        </a>
                        <a href="#slider5" style="text-decoration: none; float: right" data-slide="next">
                          <span class="carousel-control-next-iconn"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      <a href="#collapse6" class="col1" name="icon5" data-parent="#accordion" data-toggle="collapse">
                        Content Production <span value="0" id="icon5" ><i class="fas fa-caret-right"></i></span>
                      </a>
                    </h5>
                  </div>

                  <div id="collapse6" class="collapse">
                    <div class="card-body">
                      <div id="slider6" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                             Does the Organisation have a formal (written) digital content strategy? <span id="23"></span>
                          </div>
                          <div class="carousel-item">
                             Does the Organisation have a clear social media strategy? <span id="24"></span>
                          </div>
                          <div class="carousel-item">
                             Does the Organisation have a written digital monetization strategy? <span id="25"></span>
                          </div>
                        </div>
                        <a href="#slider6" style="text-decoration: none;" data-slide="prev">
                          <span class="carousel-control-prev-iconn"></span>
                        </a>
                        <a href="#slider6" style="text-decoration: none; float: right" data-slide="next">
                          <span class="carousel-control-next-iconn"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Row -->
          <div class="row">
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; N3XT SPORTS 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/clientresults.js"></script>
  <script src="/js/radarAdmin.js"></script>
  <script src="/js/gaugeAdmin.js"></script>
<script>
  $('.carousel').carousel({
      interval: 0,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
</body>

</html>
