<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="./css/page1.css">
    <script src="./js/page1.js"></script>
</head>
<style>
    @media(min-width: 578px){
        .pad{
            padding-top: 50px;
        }
    }
</style>
<body>
    <div class="bg text-center text-white pad" id="sec1">
        <h2>
            Digital Assessment Tool
        </h2>
        <div class="container pt-4">
            <p class="paragraph">
                At N3XT Sports, we trust in the importance of digital foundations to propel sports organizations forward. With our clients, we call this process digital transformation, and we start it with a holistic digital readiness exercise that looks at processes, tools, assets, data architecture, content and people. Once these objective parameters are assessed, it becomes straightforward to develop and prioritize a digital strategy.
            </p>
            <p class="pt-2">
                <h3 class="title">Where does your organization stand in its digital transformation journey?</h3> 
            </p>
            <div class="pt-3">
                <button class="hehe" id="btn1">Find Out</button>
            </div>
        </div>
    </div>
    <div class="bg text-center text-white pad" id="sec2">
        <div class="container pt-4">
            <p class="paragraph">
                There is always a misconception about the topic of digital transformation, while many people think that it is about buying technology, it is actually looking at your current operations and every department and seeing how you can apply digital processes to be more efficient and create value.
            </p>
            <p class="paragraph">
                As we live in the digital era, the way we work, the tools we manage and even the way we live changes, which makes it a necessity for many sports organizations to go through a digital transformation process. Digital transformation is a necessary enabler of success and no longer a “nice to have” element of your work.
            </p>
            <div class="pt-3">
                <button class="hehe" id="btn2">Continue</button>
            </div>
        </div>
    </div>
    <div class="bg text-center text-white pad" id="sec3">
        <div class="container pt-4">
            <p class="paragraph">
                Many sports organizations, traditionally do not have the appropriate infrastructure, culture, and knowledge to take the step towards digitalization. Another inhibitor to unlocking digital success is an inherent aversion to investing effort and resources into building a digital strategy; but the rewards this produces far outweigh the initial costs, and are not limited to being financial in nature.
            </p>
            <p class="paragraph">
                Our team of digital and data experts have come up with a neat digital assessment tool that can be used by your sports organization. By completing this digital assessment tool you will get an objective indication of where your organization is on its digital transformation journey.
            </p>
            <div class="pt-3">
                <button class="hehe" id="btn3">Continue</button>
            </div>
        </div>
    </div>
    <div class="bg text-center text-white pad" id="sec4">
        <div class="container">
            <h2 class="title">The N3XT Sports Digital Assessment tool is structured around 5 key pillars</h2>
        </div>
        <div class="container pt-4">
            <div class="row">
                <div class="col-sm-4">
                    <i class="fa fa-briefcase"></i>
                    <p class="lead">Business Strategy</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-sitemap"></i>
                    <p class="lead">Internal Digitalization</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-tablet"></i>
                    <p class="lead">Digital Products</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-2">
                    <i class="fa fa-bar-chart"></i>
                    <p class="lead">Data Management</p>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-video-camera"></i>
                    <p class="lead">Content Production</p>
                </div>
            </div>
            <div class="pt-3">
                <button class="hehe" id="btn4" style="padding: 0 0px!important;">Get Started</button>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>