* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #28179B;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform select,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #28179B;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #1e2d70;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #3699d5
}

#msform .action-button1 {
    width: 175px;
    background: #1e2d70;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 0px 10px 5px;
}

#msform .action-button1:hover,
#msform .action-button1:focus {
    background-color: #3699d5
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #3699d5
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color:#1e2d70;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #1e2d70;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #1e2d70
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f0b1"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f0e8"
}
#progressbar #content:before {
    font-family: FontAwesome;
    content: "\f03d"
}
#progressbar #digital:before {
    font-family: FontAwesome;
    content: "\f10a";
}
#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f080"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #1e2d70
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #28179B
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.inputGroup {
	margin: 10px 0;
	position: relative;
}

.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

.inputGroup label:before {
	width: 100%;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #1e2d70;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}
.inputGroup:hover
{
    background-color: #1e2d70;
     
}
label:hover  {
	color: #fff;
}
.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
	color: #fff;
}

.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked ~ label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

.form {
	padding: 0 16px;
	max-width: 550px;
	margin: 50px auto;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

code {
	background-color: #9AA3AC;
	padding: 0 8px;
}
@media(max-width: 1040px){
    .element{
        font-size: 14px!important;
    }
}
@media(max-width: 768px){
    .element{
        font-size: 13.2px!important;
    }

}
@media(max-width: 658px){
    .element{
        font-size: 13px!important;
    }
}
@media(max-width: 648px){
    .element{
        font-size: 12.5px!important;
    }

}
@media(max-width: 628px){
    .element{
        font-size: 12px!important;
    }
}
@media(max-width: 603px){
    .element{
        font-size: 11.5px!important;
    }
}
@media(max-width: 572px){
    .element{
        font-size: 11px!important;
    }
    
    #progressbar #account:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f0b1"
    }
    
    #progressbar #personal:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f0e8"
    }
    #progressbar #content:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f03d"
    }
    #progressbar #digital:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f10a"
    }
    #progressbar #payment:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f080"
    }
    
    #progressbar #confirm:before {
        width: 40px;
        height: 46px;
        font-family: FontAwesome;
        content: "\f00c"
    }
}
@media(max-width: 508px){
    .element{
        font-size: 10px!important;
    }
}

@media(max-width: 485px){
    label{
        font-size: 18px;
    }
    .fs-title{
        font-size: 22px;
    }
    .steps{
        font-size: 22px;
    }
}
@media(max-width: 450px){
    .element{
        font-size: 9px!important;
    }
    label{
        font-size: 17px;
    }
}
@media(max-width: 430px){
    .fs-title{
        font-size: 20px;
    }
    .steps{
        font-size: 20px;
    }
    span{
        font-size: 18px;
    }
    .element{
        font-size: 8px!important;
    }
}
@media(max-width: 390px){
    .fs-title{
        font-size: 18px;
    }
    .steps{
        font-size: 18px;
    }
    span{
        font-size: 16px;
    }
    #progressbar #account:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f0b1"
    }
    
    #progressbar #personal:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f0e8"
    }
    #progressbar #content:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f03d"
    }
    #progressbar #digital:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f10a"
    }
    #progressbar #payment:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f080"
    }
    
    #progressbar #confirm:before {
        width: 35px;
        height: 43.5px;
        font-family: FontAwesome;
        content: "\f00c"
    }
}
@media(max-width: 379px){
    .element{
        font-size: 7px!important;
    }
}
.btn-outline-info {
    color: #28179B!important;
    background-color: transparent!important;
    background-image: none!important;
    border-color: #28179B!important;
}
.btn-outline-info:hover {
    color: #fff!important;
    background-color: #28179B!important;
    border-color: #28179B!important;
}